body {
  background-color: white;
  color: black;
  width: 300px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1e1e1e;
    color: white;
  }

  input, button {
    background-color: #333;
    color: white;
    border: 1px solid #555;
  }
}

#Verification
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-bottom: 40px;
    border: 20px;
}

#PasswordGenerator
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
#generate
{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background-color: #575757;
    color: white;
    border: none;
    cursor: pointer;
}
#generate:hover
{
    background-color: #818181;
}
#length
{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background-color: #575757;
    color: white;
    border: none;
    cursor: pointer;
}
label {
    margin-top: 10px;
    font-size: 18px;
}
p {
    margin-top: 10px;
    font-size: 16px;
    width: 100%;
    text-align: center;
}
.row {
  display: flex;
  gap: 12px;
  align-items: center;
}


#password {
    flex-grow: 1;
    height: 31px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#copy{
    width: 100px;
    height: 31px;
    background-color: #575757;
    color: white;
    border: none;
    cursor: pointer;
}
#copy:hover {
    background-color: #818181;
}
h1 {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}